body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background: linear-gradient(to bottom, purple, black);
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

h1,h2{
    color: white;
}